body, form > h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

.container {
    background-color: aqua;
}

div > input, select {
    border-radius: 2rem;
    padding: 1rem;
}

select {
    background-color: white;
}

ul > li {
    padding: 0.5rem;
}

form  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color:gray;
}

form > h2 {

}